*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 10px;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #edf1ed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#edf1ed;
    font-family: 'Poppins';font-size: 22px;
    overflow: hidden;
}

li{
    list-style: none;
    cursor:pointer;
}
a{
    text-decoration: none;
}
button{
    background-color:rgb(18,155,155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600px;
    width: fit-content;
}
button:hover{
    background-color: white;
    color: black;
    border:1px solid black
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav .logo{
    font-weight: 700;
    font-size: 30px;
}
nav ul{
    display: flex;
    align-items:center;
    gap: 40px;
    font-weight: 500px;
}
nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;
}
.search-field{
    display: flex;
    gap: 35px;
}
input{
    padding: 4px 10px;
}
.hero-section{
    display: flex;
    align-items: centers;
}
.hero-left-section h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;

}
.hero-left-section span{
    color: rgb(18,155,155);
    font-weight: 900;
    font-size: 2.5 rem;
}
.hero-left-section p{
    font-weight: 500px;
}

.hero-left-section p span{
    font-weight: 700px;
    font-size: 25px;
    color: rgb(18,155,155);
}
.hero-right-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content:center ;
}
.btns{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-right-section img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
footer{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-around;
}
footer p{
    font-weight: 600;
}
footer ul{
    display: flex;
    gap: 30px;
    align-items: center;
}